.splash_menu_hide{
    opacity: 0;
}
.splash_hide{
    scale: 0;
    position: absolute;
    height: 0%;
}
#splash{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#splash_div{
    width: 50%;
}
#splash_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: splash 2.5s ease infinite;
}
@keyframes splash {
    0%{
        scale: 1;
        transform: rotateZ(0deg);
    }
    25%{
        scale: 1;
        transform: rotateZ(0deg);
    }
    50%{
        scale: 1;
        transform: rotateZ(0deg);
    }
    65%{
        scale: 1.5;
        transform: rotateZ(0deg);

    }
    80%{
        transform: rotateZ(400deg);
    }
    90%{
        scale: 1.5;
        transform: rotateZ(0deg);

    }
    100%{
        scale: 1;
        transform: rotateZ(0deg);
    }
}
#splash_title{
    position: relative;
    color: #f79520;
    text-shadow: none;
    font-size: 1rem;
    width: 236px;
    top: -150px;
    left: -20px;
    animation: splash_title 2.5s ease infinite;
}
@keyframes splash_title {
    0%{
        scale: 1;
    }
    25%{
        scale: 1;
    }
    50%{
        scale: 1;
    }
    65%{
        scale: 1.5;
    }
    90%{
        scale: 1.5;
    }
    100%{
        scale: 1;
    }
}
/* main{
    height: auto;
} */
#first{
    height: 90vh;
    display: flex;
    align-items: end;
    flex-direction: column;
}
#first video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 90vh;
    z-index: -1;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
#social{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
#social i{
    font-size: 2rem;
    text-shadow: 2px 2px 1px var(--color3);
}
h1{
    text-align: center;
    font-size: 1.3rem;
    color: var(--color1);
    text-shadow: 1px 1px 1px var(--color3);
    letter-spacing: 2px;
}
.fa-youtube{
    color: red;
}
.fa-facebook{
    color: rgb(2, 2, 255);
}
.fa-instagram{
    color: rgb(233, 142, 157);
}
.fa-tiktok{
    color: white;
}
.fa-twitter{
    color: rgb(28, 167, 213);
}
.fa-spotify,
.fa-whatsapp{
    color: green;
}
#second{
    height: 100vh;
    background: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}
#second_title{
    text-align: center;
    padding: 0px 20px;
}
h2{
    font-size: 1.4rem;
    margin-top: 10px;
}
#second_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65%;
    width: 90%;
    padding: 20px;
    margin-top: 40px;
}
#second_info_1{
    border-radius: 30% 70% 72% 28% / 62% 37% 63% 38%;
    background-color: var(--color2);
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
}
#img_second{
    background-image: url(../media/second.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 70% 30% 21% 79% / 62% 37% 63% 38%;
    height: 90%;
    width: 100%;
    transition: all 0.8s ease;
}
#second_info_1:hover{
    border-radius: 50% 50% 68% 32% / 30% 56% 44% 70%;
}
#img_second:hover{
    border-radius: 28% 72% 72% 28% / 62% 71% 29% 38% ;
}
#second_info_2{
    width: 100%;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#second_info_2 p{
    color: var(--color1);
    font-size: 1.2rem;
}
#second_icons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 40%;
}
.icons{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons i{
    width: 20%;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    color: var(--color1);
    border: 4px solid var(--color1);
    border-radius: 20px;
    box-shadow: 1px 1px 1px var(--color2);
}
.icons p{
    position: relative;
    top: -20px;
    background-color: var(--color2);
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
}
.icons:hover p{
    opacity: 1;
    top: 20px;
}
#third{
    height: 70vh;
    background-image: url(../media/main3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.shape_third{
    overflow:hidden;
    position:relative;
}
.shape_third::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -58vw; 
    background-size: 100% 400px;
    background-position: 50% 0%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 59.27" preserveAspectRatio="none"><g fill="%231f1e1e"><path d="M381 8.47L0 42.33V0h381z"/><path d="M381 33.87L0 59.27V0h381z" opacity=".66"/></g></svg>'); 
}
#fourth{
    height: 40vh;
    background: var(--color4);
    text-align: center;
    padding: 30px;
    overflow: hidden;
}    
.main-carousel{
    position: relative;
    top: 20px;
    height: 30vh;
}
.flickity-viewport{
    height: 100% !important;
}
.carousel-cell{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: all 0.8s ease;
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
}
.cell:hover{
    opacity: 1;
    scale: 1.2;
}
.cell img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3{
    padding: 20px 0px;
    z-index: 5;
    position: absolute;
}    
#fifth{
    height: 5vh;
    background-color: var(--color1);
    animation: neon 5s infinite ease;
} 
@keyframes neon {
    0%{
        background-color: var(--color2);
    }
    25%{
        background-color: var(--color1);
    }
    50%{
        background-color: var(--color5);
    }
    75%{
        background-color: var(--color6);
    }
    100%{
        background-color: var(--color2);
    }
}
#sixth{
    height: 115vh;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.sixth_1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sixth_2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.sixth_3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixth_3 a{
    display: block;
    width: 250px;
    text-align: center;
}
.sixth_3 a img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 2px 1px var(--color3);
    margin: 20px 0px;
}
.sixth_3 p{
    width: 80%;
    text-align: center;
    color: var(--color1);
    font-family: var(--font2);
    font-size: 1.2rem;
}
.sixth_3 i{
    font-size: 5rem;
    margin-top: 20px;
}
#shop{
    background:url(../media/Diamond-Blob.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    width: 45vh;
    transition: all 0.8s ease;
    position: absolute;
}
#rotate_shop{
    margin-top: 30%;
}
#rotate_shop:hover #shop{
    transform: rotateZ(180deg);
}
#shop_1{
    width: 35vh;
    height: 35vh;
}
#shop_1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: url(../media/Sliced-Bread-Blob.svg);
    -webkit-mask-image: url(../media/Sliced-Bread-Blob.svg);
}
#seventh{
    height: 90vh;
    background: linear-gradient(to bottom, var(--color4) 5%, rgba(255, 255, 255, 0) 10%), var(--color6);
}
#seventh h2{
    text-align: center;
    padding: 70px 0px;
    margin-top: 20px !important;
}
#seventh_1{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.seventh_2{
    height: 80%;
    width: 100%;
}
.seventh_2 iframe{
    width: 100%;
    height: 100%;
}
.seventh_3{
    font-family: var(--font2);
    font-size: 1.7rem !important;
}
.seventh_2 p{
    padding-left: 30px;
    margin: 10px 0px;
    font-size: 1.1rem;
}