/* sm applies to x-small devices (portrait phones, less than 576px)*/
@media (min-width: 575.98px){
}

/* md applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) {
    main{
        background:  linear-gradient(to bottom, var(--color4) 10%, rgba(255, 255, 255, 0) 13%), var(--color6);
        padding-top: 100px;
    }
    #main_wrap{
        flex-direction: row;
        justify-content: space-between;
    }
    .wrap_2{
        width: 45% !important;
        margin: 0px;
    }
    .form-input{
        width: 100%;
    }
    #error,
    #success{
        width: 50%;
    }
    .form-label{
        font-size: 1.1rem;
    }
    #wrap_video{
        height: 50vh;
    }
}

/* lg applies to medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) { 
    main{
        background:  linear-gradient(to bottom, var(--color4) 20%, rgba(255, 255, 255, 0) 23%), var(--color6);
        padding-top: 150px;
    }
    h1{
        margin-top: 60px;
    }
    #galery_1{
        flex-direction: row;
        height: 84%;
    }
    main{
        height: 80vh;
    }
    .galery_2{
        width: 50%;
        padding: 35px 0px;
    }
    #message_wrap{
        height: 30%;
    }
    .wrap{
        margin: 0px;
    }
    #error,
    #success{
        width: 55%;
    }
    #submit_wrap{
        margin-top: 0px;
    }
    .form-label{
        font-size: 1.2rem;
    }
    #wrap_video{
        height: 60vh;
        padding-top: 40px !important;
    }
    video{
        width: 75%;
        height: 70%;
    }
}

/* xl applies to large devices (desktops, less than 1200px)*/
@media (min-width: 1199.98px) { 

}

/* xx` applies to x-large devices (large desktops, less than 1400px)*/
@media (min-width: 1399.98px) { 

}
@media (min-width: 1600px) { 
    #galery_1{
        height: 88%;
    }
}
